<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% CSS %>
    <% JAVASCRIPT %>
    <script src="http://files.jcink.net/uploads/ttwlrp/jquery_style_my_tooltips.js"></script>
    <title>THRIVIN'</title>
  </head>

  <body id="href-idx" class="page-idx g-<!-- |g_id| -->">
    <div class="thrivin-wrapper">
      <div class="thrivin-head">
        <a href="index.php" class="site-title">thrivin'</a>
        <div class="some-links">
          <a href="?act=Search&CODE=getnew">new posts</a>
          <a href="?act=Search&CODE=getactive">active topics</a>
          <a href="?act=UserCP&CODE=26">subscriptions</a>
        </div>
      </div>
      <div class="thrivin-banner">
        <div class="banner-img">
          <img src="https://images.unsplash.com/photo-1572348929038-47c8900e293b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80">
        </div>
        <div class="thrivin-profile">
          <div class="profile-ani" title="Sun"></div>
          <div class="profile-img">
            <img src="https://i.pinimg.com/originals/a1/ac/d5/a1acd57da1d79e29229830a0df522a4f.gif">
          </div>
          <span class="profile-welcome">welcome back <a href="?showuser=1" class="name"><!-- |name| --></a></span>
          <div class="profile-notifications">
            <a href="?act=UserCP&CODE=alerts"><!-- |new_alerts| --></a> alerts / <a href="?act=Msg&CODE=0"><!-- |new_msg| --></a> messages
          </div>
          <a href="admin.php" target="_blank" class="admin-cp acp-1">admin cp</a>
        </div>
      </div>
      <div class="thrivin-links">
        <a href="#">home</a>
        <a href="#">premise</a>
        <a href="#">rules</a>
        <a href="#">member groups</a>
        <a href="#">character creation</a>
        <a href="#">claims</a>
        <a href="#">codes</a>
        <a href="#">characters</a>
      </div>
      <div class="thrivin-content">
        <% NAVIGATION %>
        <% BOARD HEADER %>
        <% BOARD %>
        <% COPYRIGHT %>
      </div>
    </div>
  </body>
</html>
