<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="dist/css/html.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/groups.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/main.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/forums.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/stats.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://files.jcink.net/uploads/ttwlrp/jquery_style_my_tooltips.js"></script>
    <script src="/dist/js/main.js" async defer></script>
    <title>DEATH CONSUMES ALL</title>
  </head>

  <body class="">
    
  </body>
</html>
