<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="dist/css/html.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/groups.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/main.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/forums.css" type="text/css" />
    <link rel="stylesheet" href="dist/css/stats.css" type="text/css" />
    <link rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="http://files.jcink.net/uploads/ttwlrp/jquery_style_my_tooltips.js"></script>
    <script src="/dist/js/main.js" async defer></script>
    <title>THRIVIN'</title>
  </head>

  <body id="href-idx" class="page-idx g-8">
    <div class="thrivin-wrapper">
      <div class="thrivin-head">
        <a href="index.php" class="site-title">thrivin'</a>
        <div class="some-links">
          <a href="#">new posts</a>
          <a href="#">active topics</a>
          <a href="#">subscriptions</a>
        </div>
      </div>
      <div class="thrivin-banner">
        <div class="banner-img">
          <img
            src="https://images.unsplash.com/photo-1572348929038-47c8900e293b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80">
        </div>
        <div class="thrivin-profile">
          <div class="profile-ani" title="Sun"></div>
          <div class="profile-img">
            <img
              src="https://64.media.tumblr.com/a6678ad07e07b770ce641df814844c77/2c72c494ced5f221-56/s540x810/ab302a08b2b924ea56fc9ebd8d14d9e71b80d6a4.gifv">
          </div>
          <span class="profile-welcome">welcome back <a href="#" class="name">adrian
              black</a></span>
          <div class="profile-notifications">
            <a href="#">0</a> alerts / <a href="#">0</a> messages
          </div>
          <a href="#" class="admin-cp">admin cp</a>
        </div>
      </div>
      <div class="thrivin-links">
        <a href="#">home</a>
        <a href="#">premise</a>
        <a href="#">rules</a>
        <a href="#">member groups</a>
        <a href="#">character creation</a>
        <a href="#">claims</a>
        <a href="#">codes</a>
        <a href="#">characters</a>
      </div>
      <div class="thrivin-content">

        <div class="thrivin-categories">
          <a href="#" class="cat-title">Miami</a>
          <div class="cat-boards">
            <div class="one">
              <div class="sbs-board">
                <div class="board-img">
                  <span class="g-8">
                    <div class="img-wrapper">
                      <img
                        src="https://images.unsplash.com/photo-1597535973747-951442d5dbc7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80">
                    </div>
                  </span>
                </div>
                <div class="board-title">
                  <div class="title-area">
                    <a href="#" class="forum-title">downtown</a>
                    <div class="last-post"><span class="g-8">latest post made
                        <i>JUL 20 2021, 04:34 PM</i></span></div>
                  </div>
                  <span class="g-8">
                    <div class="title-separator">
                      <div class="breakline"></div>
                      <div class="breakstats">
                        8011 replies / 12091 topics
                      </div>
                    </div>
                  </span>
                  <div class="latest-poster">
                    <div class="poster-details">
                      <div class="latest-post">
                        <a href="#" class="post-name"><span class="g-8">she
                            earned her grades</span></a>
                        <div class="posted-by">
                          by <a href="#"><span class="g-8">adrian black</span></a>
                        </div>
                      </div>
                      <div class="poster-img">
                        <span class="g-8">
                          <div class="img-wrapper">
                            <img
                              src="https://64.media.tumblr.com/a9d089f7c9659548c67aadcf839b859e/86b228a4600aea27-a3/s540x810/72bf2125bbe675b6f9209bb47418e811267ea86d.gifv">
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="addendum">
                      <a href="#">sub forum 1</a>, <a href="#">sub forum 2</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sbs-board">
                <div class="board-img">
                  <span class="g-13">
                    <div class="img-wrapper">
                      <img
                        src="https://images.unsplash.com/photo-1541532713592-79a0317b6b77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80">
                    </div>
                  </span>
                </div>
                <div class="board-title">
                  <div class="title-area">
                    <a href="/lib/pages/topics.html" class="forum-title">nightlife</a>
                    <div class="last-post"><span class="g-13">latest post made
                        <i>JUL 20 2021, 04:34 PM</i></span></div>
                  </div>
                  <span class="g-13">
                    <div class="title-separator">
                      <div class="breakline"></div>
                      <div class="breakstats">
                        8011 replies / 12091 topics
                      </div>
                    </div>
                  </span>
                  <div class="latest-poster">
                    <div class="poster-details">
                      <div class="latest-post">
                        <a href="#" class="post-name"><span class="g-13">creatures
                            that i conjure</span></a>
                        <div class="posted-by">
                          by <a href="#"><span class="g-13">bianca cardieux</span></a>
                        </div>
                      </div>
                      <div class="poster-img">
                        <span class="g-13">
                          <div class="img-wrapper">
                            <img
                              src="https://64.media.tumblr.com/33788ae25a1b6dca4c6d93953321e91e/c14b08d96fbc4018-12/s540x810/3faa048db89eaa5885133a11cce03bcfe60fde7f.gifv">
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="addendum">
                      <a href="#">sub forum 1</a>, <a href="#">sub forum 2</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="toplinks-thrive">
          <a href="#">last click</a>
          <a href="#">top posters</a>
          <a href="#">characters</a>
        </div>
        <div class="thrivin-stats">
          <div class="topside">
            <div class="currently-online">
              <div class="online-count">12 online now</div>
              <div class="online-numbers">
                <span>8</span> members,
                <span>2</span> anons,
                <span>2</span> guests
              </div>
              <div class="online-list">
                <a href="#"><span class="g-13">adrian black</span></a>, <a
                  href="#"><span class="g-10">antoine blanc</span></a>, <a
                  href="#"><span class="g-15">lionel blanc</span></a>
              </div>
            </div>

            <div class="misc-stats">
              <div class="stat-bubble">
                <span>18</span>
                <div>online today</div>
              </div>
              <div class="stat-bubble">
                <span>122</span>
                <div>total members</div>
              </div>
              <div class="stat-bubble">
                <span>8091</span>
                <div>total posts</div>
              </div>
              <div class="stat-bubble">
                <span>2021</span>
                <div>established</div>
              </div>
            </div>

            <ul class="fix-recent-topics">
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
              <li class="rt-item">
                <div class="rt-wrap">
                  <a href="#" class="rt-name">be my mistake</a>
                  by <a href="#" class="rt-user">lionel blanc</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="bottomside">
            <div class="recent-online">
              <b>online today:</b> <a href="#"><span class="g-9">bianca cardieux</span></a>, <a href="#"><span class="g-7">bianca cardieux</span></a>, <a href="#"><span class="g-7">bianca cardieux</span></a>, <a href="#"><span class="g-7">bianca cardieux</span></a>, <a href="#"><span class="g-7">bianca cardieux</span></a>
            </div>
            <div class="birthdays">
              <b>birthdays (1):</b> <a href="#">antoine blanc (26)</a>
            </div>
            <div class="welcome">welcome <a href="#">lionel blanc</a></div>
          </div>

        </div>
      </div>
    </div>
  </body>
</html>
