@import "init";

.bs--wrap {
  width: 1200px;
  position: relative;
  margin: 0 auto;

  .bs--title {
    text-align: center;
    font-family: var(--font1);
    text-transform: uppercase;
    color: #fff;
    padding: 300px 0;
    padding-bottom: 50px;
    font-size: 170px;
    position: relative;
  }

  .bs--links {
    font-family: var(--font2);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    margin-bottom: 300px;

    a {
      display: inline-block;
      margin: 0 16px;
      transition: 0.25s all ease;

      &:hover {
        color: var(--hx3);
      }
    }
  }

  .bs--content {
    background: #fff var(--gradient3);
    width: 100%;
    padding: 75px;
  }
}
