@import "init";

img[src*="twemoji"],
img[src*="animoji"] {
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.insta-profile {
  width: 450px;
  background: #111;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-bottom: 4rem;
  border-radius: 3px;
  overflow: hidden;

  .closers {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;

    .flw {
      font-family: var(--font4);
      font-size: 12px;
      text-transform: lowercase;
      display: inline-block;
      border-radius: 2px;
      padding: 4px 6px;
      cursor: crosshair;
      background: #fff linear-gradient(
        to bottom right,
        rgba(var(--mclr), 0.5) 0%,
        rgba(var(--hclr), 0.5) 50%,
        rgba(var(--gclr), 0.5) 100%
      );
    }

    red {
      background-color: #ff605c;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
    }

    yellow {
      background-color: #ffbd44;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
    }

    green {
      background-color: #00ca4e;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
    }
  }

  .bottomrow {
    width: 100%;
    background: #fff linear-gradient(
      -45deg,
      rgba(var(--mclr), 0.5) 0%,
      rgba(var(--hclr), 0.5) 50%,
      rgba(var(--gclr), 0.5) 100%
    );
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-family: var(--font5);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .profile-bios {
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imgbg {
      background: linear-gradient(
        -45deg,
        rgba(var(--mclr), 1) 0%,
        rgba(var(--hclr), 1) 50%,
        rgba(var(--gclr), 1) 100%
      );
      width: 200px;
      height: 200px;
      border-radius: 100%;
      background-size: 400% 400%;
      animation: gradient 4s ease infinite;
      padding: 10px;
      margin-bottom: 3rem;

      img {
        border-radius: 100%;
        border: 5px solid #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    span.insta-handle {
      font-family: var(--font3);
      text-transform: uppercase;
      font-size: 22px;
    }

    .insta-bio {
      font-family: var(--font4);
      text-transform: lowercase;
      margin-top: 2rem;
      font-size: 12px;
    }
  }
}

.thrive-comm {
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  background: var(--x1)
    linear-gradient(
      120deg,
      rgba(var(--mclr), 0.5) 0%,
      rgba(var(--hclr), 0.5) 50%,
      rgba(var(--gclr), 0.5) 100%
    );
  display: flex;
  flex-direction: column;

  .top-msg {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font4);
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 1.5rem;

    .closers {
      display: flex;
      flex-flow: row wrap;

      red,
      yellow,
      green {
        margin-left: 0.75rem;
      }

      red {
        background-color: #ff605c;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      yellow {
        background-color: #ffbd44;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      green {
        background-color: #00ca4e;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }
    }
  }

  .to-whom {
    padding: 6rem;

    .emoji {
      width: 65px;
      height: 65px;
      background-size: cover;
      background-image: var(--ani);
    }
  }

  .messages {
    padding: 4rem;
    padding-bottom: 8rem;
    padding-top: 4rem;

    br {
      display: none;
    }

    p {
      background: #fff;
      color: #111;
      font-family: var(--font2);
      font-weight: 300;
      line-height: 150%;
      border-radius: 6px;
      padding: 2.5rem;
      font-size: 2rem;
      margin-bottom: 2rem;

      img {
        width: 100%;
      }
    }
  }
}

.thrive-match {
  width: 450px;
  border-radius: 3px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  background: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .top-msg {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font3);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25rem;

    .group-moji {
      width: 35px;
      height: 35px;
      background-size: cover;
      background-image: var(--ani);
    }

    .closers {
      red {
        background-color: #ff605c;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      yellow {
        background-color: #ffbd44;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      green {
        background-color: #00ca4e;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }
    }
  }

  .image {
    width: 100%;
    background: #fff
      linear-gradient(
        120deg,
        rgba(var(--mclr), 0.5) 0%,
        rgba(var(--hclr), 0.5) 50%,
        rgba(var(--gclr), 0.5) 100%
      );
    padding: 2rem;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }

  .profile {
    name {
      padding: 4rem;
      padding-bottom: 2rem;
      display: block;
      font-family: var(--font3);
      font-size: 3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;

      &:after {
        content: "";
        display: block;
        margin-top: 2rem;
        margin-left: -4rem;
        width: 70%;
        height: 6px;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #fff
          linear-gradient(
            120deg,
            rgba(var(--mclr), 0.5) 0%,
            rgba(var(--hclr), 0.5) 50%,
            rgba(var(--gclr), 0.5) 100%
          );
      }
    }

    desc {
      display: block;
      margin: 0 auto;
      background: #111;
      margin-top: -4rem;
      margin-bottom: 2rem;
      color: #fff;
      padding: 4rem;
      font-family: var(--font1);
      font-size: 2.25rem;
      line-height: 160%;
      font-weight: 300;
    }

    pdisplay {
      padding: 4rem;
      padding-top: 0;
      display: flex;
      flex-flow: row wrap;
    }

    pill {
      background: #fff;
      color: #111;
      border-radius: 20px;
      padding: 1rem 2rem;
      padding-bottom: 0.8rem;
      font-family: var(--font4);
      font-size: 1.25rem;
      letter-spacing: 1px;
      text-transform: lowercase;
      margin-right: 1rem;
    }
  }
}

.thrive-swipe {
  width: 280px;
  border-radius: 3px;
  background: #111;
  margin: 2rem auto;
  padding: 2rem;

  &.super {
    .swipe-icon {
      icon {
        background-image: url("https://files.jcink.net/uploads2/thrivinrp/animoji/sparkling_heart.gif");
      }
    }

    status {
      &:after {
        content: "Super liked";
      }
    }
  }

  &.liked {
    .swipe-icon {
      icon {
        background-image: url("https://files.jcink.net/uploads2/thrivinrp/animoji/fire.gif");
      }
    }

    status {
      &:after {
        content: "Liked";
      }
    }
  }

  &.disliked {
    .swipe-icon {
      icon {
        background-image: url("https://files.jcink.net/uploads2/thrivinrp/animoji/thumbs_down.gif");
      }
    }

    status {
      &:after {
        content: "Disliked";
      }
    }
  }

  .swipe-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 2rem auto;

    icon {
      width: 100%;
      height: 100%;
      background-size: cover;
      display: block;
    }
  }

  status {
    display: block;
    text-align: center;
    padding-bottom: 2rem;
    font-family: var(--font4);
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #fff;
  }
}

.thrive-match-message {
  width: 380px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
  background: #fff
    linear-gradient(
      120deg,
      rgba(var(--mclr), 0.5) 0%,
      rgba(var(--hclr), 0.5) 50%,
      rgba(var(--gclr), 0.5) 100%
    );
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .top-msg {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font4);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25rem;

    .group-moji {
      width: 35px;
      height: 35px;
      background-size: cover;
      background-image: var(--ani);
    }

    .closers {
      red, yellow, green {
        margin-left: 0.75rem;
      }

      red {
        background-color: #ff605c;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      yellow {
        background-color: #ffbd44;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }

      green {
        background-color: #00ca4e;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        display: inline-block;
      }
    }
  }

  .headers {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    text-transform: uppercase;

    .connect {
      font-family: var(--font4);
      text-transform: lowercase;
      font-size: 2rem;
    }

    .whom {
      font-family: var(--font3);
      font-size: 3.5rem;
      text-shadow: 0 0 1px #000;
    }
  }

  .message-body {
    width: 100%;
    padding: 4rem;

    br {
      display: none;
    }

    p {
      background: #fff;
      padding: 2rem;
      font-size: 18px;
      border-radius: 6px;
      margin-bottom: 2rem;
    }
  }
}
