
.miami-post {
  width: 370px;
  background: #fff;
  margin: 0 auto;
  border-radius: 3px;
  padding-bottom: 50px;
  position: relative;

  .header {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    overflow: hidden;
    background: #fff;

    .imgwrap {
      display: inline-block;
      width: 150px;
      height: 150px;
      background: #fff linear-gradient(to bottom right, rgba(var(--mclr), 0.5), rgba(var(--hclr), 0.5),rgba(var(--gclr), 0.5));
      padding: 1px;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        border: 6px solid #fff;
        display: block;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .emoji {
      background-image: var(--ani);
      background-size: cover;
      width: 75px;
      height: 75px;
      display: inline-block;
    }
  }

  tline {
    background: #fff linear-gradient(to right, rgba(var(--mclr), 0.5), rgba(var(--hclr), 0.5),rgba(var(--gclr), 0.5));
    display: block;
    width: 100%;
    height: 1px;
  }

  .emoji {
    margin: 0 auto;
    background-image: var(--ani);
    width: 50px;
    height: 50px;
    background-size: cover;
  }

  .miami-post-content {
    background: #fff;
    padding: 50px;
    padding-top: 15px;
    font-size: 16px;
    text-align: justify;
    line-height: 165%;
    text-transform: lowercase;

    b {
      border-radius: 2px;
      padding: 0 3px;
      color: #111;
      font-family: var(--font5);
      font-weight: 700;
      font-size: 17px;
      background: #fff linear-gradient(to right, rgba(var(--mclr), 0.2), rgba(var(--hclr), 0.2),rgba(var(--gclr), 0.2)) no-repeat left center/100% 10px;
    }
  }
}

// .generals {
//   width: 100%;
//   background: #fff;
//   border: 1px solid #ddd;
//   display: flex;
//   flex-direction: column;

//   .headers {
//     width: 100%;
//     padding: 45px;
//     margin-bottom: -1rem;
//     padding-bottom: 0;

//     h2 {
//       margin: 0;
//       font-family: var(--font3);
//       text-transform: uppercase;
//       letter-spacing: 1px;
//       font-size: 62px;
//     }

//     line {
//       display: block;
//       margin-top: 4.5rem;
//       margin-left: -45px;
//       width: 95%;
//       height: 6px;
//       border-radius: 6px;
//       border-top-left-radius: 0;
//       border-bottom-left-radius: 0;
//       background: linear-gradient(to right, var(--x4), var(--x5), var(--x6));
//     }
//   }

//   .general-content {
//     width: 100%;
//     padding: 45px;
//     font-size: 16px;
//     font-weight: 300;
//     text-align: justify;

//     p {
//       margin: 1rem 0;
//     }

//     h4 {
//       max-width: 200px;
//       margin: 0;
//       margin-left: -45px;
//       margin-top: 4rem;
//       margin-bottom: 3rem;
//       padding: 15px;
//       padding-left: 45px;
//       color: #fff;
//       background: #111;
//       font-size: 24px;
//       font-family: var(--font3);
//       letter-spacing: 1px;
//       text-transform: uppercase;
//     }

//     i {
//       background: linear-gradient(to right, var(--x4), var(--x5), var(--x6))
//         no-repeat bottom left/100% 1px;
//       font-family: var(--font4);
//     }

//     b {
//       font-family: var(--font2);
//     }

//     .claims-list {
//       margin-top: 8rem;
//       margin-bottom: 2rem;
//       max-height: 550px;
//       overflow-y: auto;
//       display: flex;
//       flex-flow: row wrap;
//       justify-content: space-between;

//       .claimer {
//         border-radius: 3px;
//         width: 49%;
//         background: #fff
//           linear-gradient(
//             to bottom right,
//             rgba(var(--mclr), 0.35),
//             rgba(var(--hclr), 0.35),
//             rgba(var(--gclr), 0.35)
//           );
//         padding: 25px;
//         text-align: center;
//         margin-bottom: 2%;

//         span {
//           font-family: var(--font4);
//           display: block;
//           text-align: center;
//           text-transform: lowercase;
//         }

//         a {
//           font-family: var(--font2);
//           text-transform: uppercase;
//           letter-spacing: 1px;
//           font-size: 10px;
//         }
//       }
//     }
//   }
// }

// .dark-rp {
//   width: 300px;
//   background: #111;
//   border-radius: 3px;
//   color: #fff;
//   margin: 2rem auto;

//   .dark-top {
//     border-bottom: 1px solid #333;
//     padding: 1rem 2rem;
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;

//     .emoji {
//       width: 30px;
//       height: 30px;
//       background-size: cover;
//       background-image: var(--ani);
//     }

//     .lowkey {
//       align-self: center;
//       font-family: var(--font4);
//       text-transform: lowercase;
//       letter-spacing: 1px;
//       font-size: 1.25rem;
//     }
//   }

//   .posting-content {
//     padding: 4rem;
//     text-align: justify;
//     font-size: 18px;
//     line-height: 150%;

//     strong,
//     b {
//       color: var(--x2);
//       font-family: var(--font2);
//     }
//   }
// }
